
.feature-box{
    @include column-justify-center;
    width: 17%;
    margin: 0 2.5%;
    font-size: 1.5rem;
    background-color: rgba($color-white , .8);
    padding: 2.5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black , .15);
    transition: all .4s;

    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        @include text-gradient;
    }
    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
        box-shadow: 0 2rem 5rem rgba($color-black , .4);
    }
    &__text{
        text-align: center;
    }
}

