.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; 
    //works like a preventDefault, so u need to add it in an animation

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1.5s ease-out;
        /*animation-iteration-count*/
        /*animation-delay*/
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;
        animation: moveInRight 1.5s ease-out;
        margin-bottom: 5rem;
    }
}

body{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
}

