.margin-bottom-big{
    margin-bottom: 8rem;
}

.margin-bottom-huge{
    margin-bottom: 10rem;
}

.margin-bottom-small{
    margin-bottom: 1.5rem;
}

.flex-rows{
    @include flex-justify-center
}

.flex-columns{
    @include column-justify-center
}