.section-about{
    @include column-justify-center;
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    &__text{
        width: 45%;
        margin-right: 5%; 
    }
    &__images{
        width: 30%;
    }
}

.section-features{
    @include background-image-green("../img/nat-4.jpg")
}